.contactDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.personDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.avatarImageLarge {
  width: 8rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 3px solid #02a1dd;
}

.personDetailsUserName {
  margin: 0;
  font-size: 30px;
  text-shadow: 3px 3px 0 #0286b6;
  transition: 300ms;
}

.personDetailsUserName:hover {
  transform: translate(-1px, -1px);
  text-shadow: 6px 6px 0 #0286b6;
}

.personDetailsDescription {
  width: 80%;
  text-align: center;
}

.personDetailsAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.personDetailsAddress .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.personDetailsIcon {
  height: 1.5rem;
  padding: 0.25rem;
  aspect-ratio: 1 / 1;
  border: 3px solid white;
  border-radius: 1.25rem;
  color: #01b5ea;
}

.personDetailsContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getInContactHeader {
  margin: 0.5rem 0;
  text-shadow: 2px 2px 0 #0286b6;
}

.personContactTiles {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.personContactTile {
  /*width: 50%;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.personContactTile .hyperlink {
  color: white;
  text-decoration: none;
  transition: 300ms;
}

.personContactTile .hyperlink:hover {
  color: #01b5ea;
  text-decoration: underline;
}

.personContactTile .hyperlink:visited {
  color: white;
}

.personContactIcon {
  height: 1rem;
  padding: 0.25rem;
  aspect-ratio: 1 / 1;
  border: 3px solid #ffffff;
  border-radius: 1.25rem;
  color: #01b5ea;
}

.glassPaneButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 300ms;

  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.glassPaneButton:hover {
  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.6);
}
