.leftContainer {
  position: relative;
  width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  color: white;
  z-index: 100;

  /* Glass Pane Effect */
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 3px solid rgba(0, 0, 0, 0.3);
}

.leftContainerToggle {
  display: none;
  position: absolute;
  top: 1rem;
  left: calc(100% + 2px);
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.75rem;
  cursor: pointer;
  transition: 300ms;

  /* Glass Pane Effect */
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-left: none;
}

.leftContainerToggle:hover {
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-left: none;
}

.barIcon {
  font-size: 20px;
}

.contactTilesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #eaeaea;
}

.contactTilesContainer::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

.contactTilesContainer::-webkit-scrollbar-track {
  background-color: #757575;
  border-radius: 4px;
}

.contactTilesContainer::-webkit-scrollbar-thumb {
  background-color: #01b5ea;
  border-radius: 4px;
}

.contactTilesContainer::-webkit-scrollbar-thumb:hover {
  background-color: #02a1dd;
}

.input {
  font-size: 14px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline: none;
  color: #ffffff;

  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  transition: 300ms;
}

.input:hover,
.input:focus {
  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.yourContactsHeader {
  margin: 0.5rem 0;
  text-shadow: 2px 2px 0 #0286b6;
}

.glassPaneButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 300ms;

  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.glassPaneButton:hover {
  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.glassPaneButton h4 {
  margin: 0;
}

.leftContainerFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: 0.5rem 0;
}

.glassPaneButton.footerButton {
  width: 50%;
}

@media (max-width: 1300px) {
  .contactList {
    width: 700px;
  }
}

@media (max-width: 1000px) {
  .leftContainer {
    display: none;
  }

  .leftContainerToggle {
    display: inline-block;
  }
}
