.leftContainerMobile {
  width: 60px;
  padding: 1rem;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*gap: 0.5em;*/
  color: white;
  display: none;

  /* Glass Pane Effect */
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 3px solid rgba(0, 0, 0, 0.3);
}

.addButton {
  /*width: 60px;*/
  height: 62px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: 300ms;

  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.mobileCircle {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  cursor: pointer;
  transition: 300ms;

  /* Glass Pane Effect */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.addButton:hover,
.mobileCircle:hover {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #01b5ea;
}

.mobileCircle.selected {
  border: 2px solid #01b5ea;
}

.avatar {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
}

.contactContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #eaeaea;
}

.contactContainer::-webkit-scrollbar {
  display: none;
  /*margin-left: 10px;*/
  /*width: 6px;*/
  /*border-radius: 3px;*/
}

.contactContainer::-webkit-scrollbar-track {
  background-color: #757575;
  border-radius: 3px;
}

.contactContainer::-webkit-scrollbar-thumb {
  background-color: #01b5ea;
  border-radius: 3px;
}

.contactContainer::-webkit-scrollbar-thumb:hover {
  background-color: #02a1dd;
}

@media (max-width: 1000px) {
  .leftContainerMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
  }
}
