.footer {
  height: 3rem;
}

.footerLink {
  color: #01b5ea;
  text-decoration: none;
  transition: 300ms;
}

.footerLink:hover {
  color: #0286b6;
  text-decoration: underline;
}

.footerLink:visited {
  color: #01b5ea;
}
