html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(90, 92, 106) 0%,
    rgb(32, 45, 58) 81.3%
  );
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  /*background: rgb(36, 198, 24);*/
  /*background: linear-gradient(*/
  /*  90deg,*/
  /*  rgba(36, 198, 24, 1) 0%,*/
  /*  rgba(0, 161, 194, 1) 62%,*/
  /*  rgba(9, 9, 121, 1) 100%*/
  /*);*/

  /*background: rgb(0, 212, 255);*/
  /*background: radial-gradient(*/
  /*  circle,*/
  /*  rgba(0, 212, 255, 1) 0%,*/
  /*  rgba(63, 94, 251, 1) 62%,*/
  /*  rgba(9, 9, 121, 1) 100%*/
  /*);*/

  /*background: rgb(0, 0, 0);*/
  /*background: radial-gradient(*/
  /*  circle,*/
  /*  rgba(0, 0, 0, 1) 0%,*/
  /*  rgba(91, 91, 91, 1) 62%,*/
  /*  rgba(47, 47, 47, 1) 100%*/
  /*);*/

  /*background: rgb(189, 189, 189);*/
  /*background: radial-gradient(*/
  /*  circle,*/
  /*  rgba(189, 189, 189, 1) 0%,*/
  /*  rgba(108, 108, 108, 1) 50%,*/
  /*  rgba(42, 42, 42, 1) 100%*/
  /*);*/
}
