.creatorContainer {
  width: 100%;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /*gap: 0.5rem;*/
}

.creatorAvatar {
  width: 6rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 5px solid #02a1dd;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}

.creatorAvatar:hover {
  color: #01b5ea;
  background: rgba(255, 255, 255, 0.6);
}

.creatorAvatar .icon {
  font-size: 4rem;
}
